body {
    margin: 0 auto;
    background-image: url("../images/playstation-pattern.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

header {
    border: solid 1px #cccccc;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    background-color: #ffffff;
    border: solid #dddddd;
    overflow: auto;
    margin-bottom: 80px;
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    display: inline;
    margin-left: 267px;
}

.about {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

hr {
    background-color: #cccccc;
    border: none;
    height: 2px;
    margin: 0px 40px 20px 30px;
}

nav {
    font-size: 15px;
    display: inline;
    position: absolute;
    right: 19%;
}

a {
    color: #777777;
    text-decoration: none;
}

p {
    color: #777777;
    margin: 0px 30px 20px 30px;
    line-height: 1.5;
}

#raindrop {
    clip-path: circle();
    shape-outside: circle();
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}

form {
    color: #777777;
    margin-top: 20px;
    margin-bottom: 15px;
}

.form {
    margin: 0px 0px 3px 30px;
}

.contact {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.nombre {
    margin: 0px 30px;
    width: 890px;
}

.email {
    margin: 0px 30px;
    width: 890px;
}

textarea {
    margin: 0px 30px;
    width: 890px;
}

.submit {
    background-color: #4aaaa5;
    padding: 5px 15px;
    border: none;
    color: #ffffff;
    margin-left: 30px;
    margin-bottom: 30px;
}

.portfolio {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.wrapper {
    float: left;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0px 30px 40px 30px;
}

.wrapper2 {
    float: left;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.scratch {
    position: absolute;
    padding: 5px 0px;
    top: 80px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 99.5%;
    margin-left: 0.5px;
    text-align: center;
}

.food {
    position: absolute;
    padding: 5px 0px;
    top: 223px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.space {
    position: absolute;
    padding: 5px 0px;
    bottom: 15px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.music {
    position: absolute;
    padding: 5px 0px;
    top: 80px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.art {
    position: absolute;
    padding: 5px 0px;
    left: 0;
    bottom: 15px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

a:hover {
    cursor: pointer;
    color: slateblue;
    opacity: 0.8;
}

button:hover {
    cursor: pointer;
    color: slateblue;
    opacity: 0.8;
}

button:active {
    color: aliceblue;
    background-color: darkorchid;
}

footer {
    background-color: #777777;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    height: 30px;
    margin-top: auto;
}

@media (max-width: 980px) {
        .container {
            max-width: 650px;
            margin-left: 20px;
            max-height: 450px;
        }

        .name {
            margin-left: 0;
        }

        nav {
            right: 5%;
        }

        #raindrop {
            height: 200px;
            width: 250px;
        }

}

@media (max-width: 768px) {
    .container {
        max-width: 700px;
        max-height: 700px;
    }

    nav {
        right: 7%;
    }

    #raindrop {
        height: 300px;
        width: 350px;
    }
}

@media (max-width: 640px) {
    .container {
        max-height: 960px;
        max-width: 590px;
    }

    .name {
        width: 100%;
        float: left;
        text-align: center;
        top: 0;
        margin-top: -10px;
    }

    header {
        padding: 0px 0px 30px 0px;
    }

    nav{
        bottom: 0;
        margin: 20px;
        margin-right: 180px;
    }

    #raindrop {
        height: 400px;
        width: 450px;
        float: none;
        margin-left: 70px;
    }

}